body{
    margin: 0;
    text-align: center;
}

h1{
    margin: 0;
}
p{
    margin: 0;
}
div{
    margin: 0;
}

.rightCloud{
    position: absolute;
    top: 40px;
    right: 250px;
}
.leftCloud{
    position: absolute;
    top: 150px;
    left: 200px;
}

.topContainer{
    padding-top: 100px;
    background-color: rgb(211, 241, 241);
    position: relative;
}