
/* tag selectors, stosuje się do wszystkich tagów danego typu */
h1{
    font-size: x-large;
    color: rgb(159, 184, 90);
}
/*
img{
    background-color: rgb(240, 101, 177);
}
*/

/*  class selectors, bardzo ukierunkowane, stosuje się do określonej klasy  */

.bacon{
    background-color: aqua;
}
.broccoli{
    background-color: brown;
}