body{
    margin: 0;
    background-color: antiquewhite;
}
div{
    position: absolute;
}
h1{
    margin: 0;
}

.outsideContainer{
    background-color: aqua;
    width: 300px;
    height: 300px;
}

.top-container{
    background-color: red;
    right: 20px;

    width: 100px;
    height: 100px;
}

.middle-container{
    background-color: blue;
    left: 100px;
    top: 400px;

    width: 100px;
    height: 100px;
}

.bottom-container{
    background-color: yellow;
    top: 240px;
    width: 100px;
    height: 100px;
}
.scrollableContainer{
    background-color: blueviolet;
    margin-left: 400px;
    position: fixed;
    height: 100px;
    width: 100px;
}
